/* LAYOUT GENERAL */
body
{
    color: #0d2a3a!important;
    min-height: 100vh;
    font-family: 'Montserrat'!important;
}
h2
{
    margin-bottom: 1rem!important;
    color: #ed647e;
    font-weight: 600!important;
}
.align-center
{
    display: grid;
    align-content: center;
}
.justify-center
{
    justify-items: center;
}
.marg-bot
{
    margin-bottom: 2rem!important;
}


/* IMAGE */
.img-logo
{
    max-width: 80%;
}
.BGrose {
    background-color: #f9dad8;
}

/* COLOR */
.rose:checked, .form-check-input:checked, .rose-btn
{
    background-color: #ed647e!important;
    border-color: #ed647e!important;
    border-radius: 0px!important;
}
.form-check-input:focus
{
    border-color: #ed647d3c!important;
    box-shadow: 0 0 0 0.25rem #ed647d3c!important;
}
.gris
{
    background-color: #f8f8f8;
}
/* FORMULAIRE LANGUES */
.formLang {
    position: absolute;
    top: 30px;
    right: 30px;
}
.btnLang {
    border: none;
    background-color: transparent;
}
.imgLang {
    width: 30px;
}

/* BOUTON */
.btn:hover, .btn-redi:hover
{
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.btn-redi
{
    background-color: #0d2a3a;
    border: 2px solid #0d2a3a;
    height: 42px;
    width: 253px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.lien-redi
{
    color: #FFFFFF;
    text-decoration: none;
}
.btn-redi:hover .lien-redi
{
    color: #0d2a3a!important;
}
.btn-redi:hover {
    background-color: #FFFFFF;
}

/* FORM */
.form-check-input
{
    margin-right: 0.5rem;
}
label 
{
    display: inline!important;
}
.msgError {
    border: solid 2px #ed647e;
    background-color: #ed647e29;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ed647e;
    width: 30%;
}
.msgError p {
    margin: 0px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* PAGE TRAITMENT */
.text-traitment {
    font-size: 20px;
}

/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 991.98px)
{
    .visuelBL
    {
        width: 70%!important;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .h-80
    {
        height: 80%!important;
    }
    .start-center
    {
        align-content: flex-start!important;
        padding-top: 2rem;
    }
    .msgError {
        width: 100%;
    }
    .descriptionRGPD {
        text-align: justify;
    }
    h5 {
        font-size: 1.18rem!important;
    }
}