/* LAYOUT GENERAL */
body
{
    color: #28282d!important;
    min-height: 100vh;
    font-family: 'Montserrat'!important;
}
h2
{
    margin-bottom: 1rem!important;
}
.align-center
{
    display: grid;
    align-content: center;
}
.justify-center
{
    justify-items: center;
}
.marg-bot
{
    margin-bottom: 2rem!important;
}


/* IMAGE */
.img-logo
{
    max-width: 80%;
}

/* COLOR */
.rose:checked, .form-check-input:checked, .rose-btn
{
    background-color: #ed647e!important;
    border-color: #ed647e!important;
    border-radius: 0px!important;
}
.form-check-input:focus
{
    border-color: #ed647d3c!important;
    box-shadow: 0 0 0 0.25rem #ed647d3c!important;
}
.gris
{
    background-color: #f8f8f8;
}

/* BOUTON */
.btn:hover, .btn-redi:hover
{
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.btn-redi
{
    background-color: #28282d;
    border: 2px solid #28282d;
    height: 42px;
    width: 253px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.lien-redi
{
    color: #FFFFFF;
    text-decoration: none;
}
.btn-redi:hover .lien-redi
{
    color: #28282d!important;
}
.btn-redi:hover {
    background-color: #FFFFFF;
}

/* FORM */
.form-check-input
{
    margin-right: 0.5rem;
}
label 
{
    display: inline!important;
}

/* PAGE TRAITMENT */
.text-traitment {
    font-size: 20px;
}

/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 991.98px)
{
    .h-20
    {
        height: 20%!important;
    }
    .h-80
    {
        height: 80%!important;
    }
    .start-center
    {
        align-content: flex-start!important;
        padding-top: 5rem;
    }
}